.header {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header h1 {
    font-family: robotoBold, sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.textShadowPopLeft {
	-webkit-animation: text-shadow-pop-left 1s both;
	        animation: text-shadow-pop-left 1s both;
}

.header p {
    font-family: roboto, sansSerif;
    font-size: 1.1rem;
}


@-webkit-keyframes text-shadow-pop-left {
    0% {
      text-shadow: 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel);
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      text-shadow: -1px 0 var(--black-marvel), -2px 0 var(--black-marvel), -3px 0 var(--black-marvel), -4px 0 var(--black-marvel), -5px 0 var(--black-marvel), -6px 0 var(--black-marvel), -7px 0 var(--black-marvel), -8px 0 var(--black-marvel);
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
}
@keyframes text-shadow-pop-left {
    0% {
      text-shadow: 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel), 0 0 var(--black-marvel);
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      text-shadow: -1px 0 var(--black-marvel), -2px 0 var(--black-marvel), -3px 0 var(--black-marvel), -4px 0 var(--black-marvel), -5px 0 var(--black-marvel), -6px 0 var(--black-marvel), -7px 0 var(--black-marvel), -8px 0 var(--black-marvel);
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
}
  
@media screen and (min-width: 720px) {
    .header h1 {
        font-size: 3.3rem;
    }
    .header p {
        font-size: 1.4rem;
    }
}