.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 125px 7px 0;
    gap: 35px;
}

.main {
    width: 100%;
    max-width: 603px;
    background-color: var(--black-marvel);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px;
}