.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 7px;
    gap: 35px;
}

/* solo como prueba: */
.main {
    width: 100%;
    max-width: 603px;
    background-color: var(--black-marvel);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
}