.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 15px;
    gap: 35px;
}

/* solo como prueba: */
.main {
    width: 100%;
    max-width: 600px;
    height: 600px;
    background-color: rgba(0,0,0,.6);
}