
.nav {
    font-family: robotoCondensedBold, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--black-marvel);
    z-index: 9999;
}

.nav ul li {
    list-style: none;
}

.navCntPrimary {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: .7rem;
    overflow: hidden;
}

.navCntSecondary {
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    gap: 45px;
    border-top: 1px solid rgba(255,255,255,.1);
}

.link {
    text-decoration: none;
    color: #fefefe;
}

.linkPrincipal {
    border-left: 1px solid rgba(255,255,255,.1);
    border-right: 1px solid rgba(255,255,255,.1);
    padding: 7px 15px;
    transition: color .5s ease;
}

.linkPrincipal:hover {
    color: rgb(236,29,36);
}

.linkSecondary {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
}

.linkSecondary::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: red;
    bottom: 0;
    transition: all 0.2s ease;
}

.linkSecondary:hover::after {
    width: 100%;
}

.logo  {
    font-family: bentonSans, sans-serif;
    background-color: rgb(236,29,36);
    font-size: 2rem;
    letter-spacing: -4px;
    padding: 1px 6px 0 0;
    line-height: .85;
}

@media screen and (min-width: 720px) {
    .navCntPrimary {
        font-size: .8rem;
    }
    .linkPrincipal {
        padding: 15px 20px;
    }
    .linkSecondary {
        height: 40px;
    }
    .logo  {
        font-size: 2.5rem;
        padding: 0 6px 0 0;
        line-height: .9;
    }
}